!!! 5
html
  head
    title HolidayHack
    link(rel='icon', type='image/png', href='favicon.png')
    link(rel='stylesheet', type='text/css', href='site.css')
    meta(property='og:title', content='HolidayHack.in.th')
    meta(property='og:type', content='company')
    meta(property='og:url', content='http://holidayhack.in.th')
    meta(property='og:site_name', content='HolidayHack.in.th')
    meta(property='fb:admins', content='222869687815912')
  body
    .container
      .area-top
        h1 The Holiday Hack Project
      .area-middle
        :markdown
          Are you looking to do some paid programming work on your
          free time? Well, here's the gist of it:
        p.highlight
          | I will pay you <span class="money">&#3647;2,500</span>
          | every week for 2 days worth of
          | concentrated in-the-zone coding.
          | You chose where, when, how <em>and how long</em>
          | to work and I will pay you <strong>cash for a patch</strong>
          | and some chit-chat every other Saturdays.
        p
          | That's <span class="money">&#3647;10,000</span> a month.
          | Continue reading if you're interested.
        h2 One coder army
        :markdown
          Since **one coder does not scale** and I have a full time
          job now just like you, I figured it is
          better that I hire other people to help than to try to do
          everything myself and never gets anything done.
        p.highlight
          | Think of this as me doing micro-funding for my ideas.
        :markdown
          I am a coder myself, so you can expect a lot of freedom to
          go about how you do the job. Plus I understand how it is
          so much better to work alone on your own terms than on a
          team of sub-averages who don't understand the simplest
          of your approach.
        h2 Conditions
        ul
          li
            :markdown
              If we have never met before, you will have to do
              some coding tests first (such as a FUBAR loop) so
              I know we can communicate.
          li
            :markdown
              ...and that you're not a [Blub programmer](http://paulgraham.com/avg.html).
          li
            | Bad coding style will be rejected on first sight.
            | If you don't understand what that means, please close this website immediately.
          li
            | The constant here is the weekly pay of
            | <span class="money">&#3647;2,500</span>. Feel free to spend
            | only 2 hour(s) per week if you think you can match that
            | amount. Just remember that I'm a coder too.
          li
            | Skip any week whenever you want (pay for that week
            | will be skipped.) Just don't disappear for too long without
            | at least an email or a tweet.
          li
            | There is nothing to sign. No NDAs. No legal documents bullshit. We prefer
            | <a href="http://en.wikipedia.org/wiki/Meritocracy" alt="Meritocracy">Meritocracy</a>
            | over legalities.
          li
            | Also mean that anyone may stop working from either side at
            | any time, should the work (or pay) be unsatisfactory.
          li
            | Oh, and you have to be able to meet me in person in
            | Bankgok, Thailand. (hint: look at the domain :-)
        h2 Can I use Ruby/Python/Node.JS/X?
        p
          | Sure, use whatever you are good at. Personally, though, I hate
          | <code>PHP</code> and <code>Java</code> so try not to use it. An
          | all-<abbr title="opensource software">OSS</abbr> stack is also
          | preferred (but not required.)
        p.highlight
          | Cloud-hostable solution such as
          | <a href="http://heroku.com">Heroku</a>, 
          | <a href="https://openshift.redhat.com/app/">OpenShift</a> or
          | <a href="http://nodejitsu.com">Nodejitsu</a> is preferred.
        :markdown
          We will share the responsibility of any deployment and keeping the
          software up and running if the project have a server component.
        h2 How do I get paid?
        :markdown
          In cash, in face-to-face meeting, every Saturdays in exchange
          for the week's patch and half-an-hour of talk.
        h3 What about sharing?
        :markdown
          Sure, if you think the project is a good idea to invest, I'm
          willing to share a large portion (up to 50%) of it with you.
          We can negotiate this as soon as we have something viable for launch.
        h2
          a(name="interested") Interested?
        p
          | I am able to support up to 3 projects at the moment.
          | I will try to hire more if and when my budget allows.
        p.highlight
          | Email me at <a href="mailto:chakrit@holidayhack.in.th">chakrit@holidayhack.in.th</a>
          | or ping me <a href="http://twitter.com/chakrit">@chakrit</a> on Twitter
          | to get in touch. I will get back to you within 2
          | <strike>holi-</strike>days if not immediately.
        :markdown
          Sharing this page with friends is also totally welcome as well :)
        h3
          a(name="expect") What to prepare?
        :markdown
          I may give you a coding test to find out about your skills.
          If you got it, please take the time to do it in a concise,
          elegant, clean and performant way.
          Remember that bad coding style is a big no-no with me.
        p
          | If you have decided to <a href="mailto:chakrit@holidayhack.in.th">email me</a>
          | and we have scheduled a meeting, please be prepared by bringing some
          | reference to your old work and also to talk about it at length as well.
          | Unpreparedness is a sign of a lack of interest.
      .area-bottom
        p.subtle Oh yeah, and thanks for taking the time to read this! XD
        script(type='text/javascript', src='site.js')
