!!! 5
html
  head
    title HolidayHack
    link(rel='icon', type='image/png', href='favicon.png')
    link(rel='stylesheet', type='text/css', href='site.css')
  body
    .container
      .area-top
        h1 The Holiday Hack Project
      .area-middle
        :markdown
          Do you want to make some money really quick?
          I have several projects as well as some of my friends'
          to which I would like to see put into reality.
        p.highlight
          | I will pay you <span class="money">&#3647;2,500</span>
          | each week for 2 day(s) worth of concentrated coding.
          | You chose where, when, how <strong>and how long</strong>
          | to work and I will pay you in cash every saturdays
          | when we meet for the update.
        p Read further if you are interested.
        h2 One coder army
        :markdown
          Since **one coder does not scale** to multiple projects
          and I have a full time job now (just like many of you guys)
          I figured it is better that I hire other people to help
          than to try to do everything myself and never gets anything done.
        p.highlight
          | Think of this as me doing micro-funding for my idea.
        :markdown
          I am a coder myself, so you can expect a lot of freedom to
          go about how you do the job. Plus I understand how it is
          so much better to work alone on your own terms than on a
          team of sub-averages who don't understand the simplest
          of your approach.
        h2 Conditions
        ul
          li
            | If you do not know me personally, I will have to ask you to
            | do some simple tests first (such as a FUBAR loop.)
          li
            | Bad coding style will be rejected on first sight.
          li
            | The constant here is the weekly pay of
            | <span class="money">&#3647;2,500</span>. If you are
            | good, feel free to spend only 2 hour(s) per week if you
            | think you can match that amount. Just remember that
            | I'm a coder too.
          li
            | I will inform you if I think you have been slacking or
            | you are doing more than meets the pay (e.g. when it's a holiday)
          li
            | You can skip any week whenever you want (pay for that week
            | will be skipped.) Just don't disappear for too long without
            | at least an email.
          li
            | There is nothing to sign. We prefer
            | <a href="http://en.wikipedia.org/wiki/Meritocracy" alt="Meritocracy">Meritocracy</a>
            | over legalities.
          li
            | Also mean that anyone may stop working from either side at
            | any time, should the work (or pay) be unsatisfactory.
          li
            | Oh, and you have to be able to meet me in person in
            | Bankgok, Thailand. (hint: look at the domain.)
        h2 Can I use Ruby/Python/Node.JS/X?
        p
          | Sure, use whatever you are good at. Personally, though, I hate
          | <code>PHP</code> and <code>Java</code> so try not to use it. An
          | all-<abbr title="opensource software">OSS</abbr> stack is also
          | preferred (but not required.)
        p
          | Cloud-hostable solution is also preferred (i.e. 
          | <a href="http://heroku.com" alt="Heroku">Heroku</a>.)
        :markdown
          We will share the responsibility of any deployment and keeping the
          software up and running if the project is a website. Which means we
          should both have administrative access to the servers.
        h2 How do I get paid?
        :markdown
          In cash, in face-to-face meeting, every Saturdays in exchange
          for the week's patch and half-an-hour of talk.
        h3 How about sharing?
        :markdown
          Sure, if you think the project is a good idea to invest, I'm
          willing to share a large portion (up to 50%) of it with you.
          We can negotiate this as soon as we have something viable for launch.
        h2
          a(name="interested") Interested?
        :markdown
          Email me at `holidayhack` at my name dot net or ping me
          [@chakrit](http://twitter.com/chakrit) on Twitter to
          get in touch. I will try to respond within 2 day(s) or no less
          than a week if my workload is heavy.
        :markdown
          Also, I may or may not give you a coding test to submit.
          If you pass we will meet on the nearest Saturday
          (or the next Saturday if one of us is not available.)
          to start working immediately.
        :markdown
          Sharing this page with friends is totally welcome as well :)
      .area-bottom
        p.subtle Oh yeah, and thanks for reading til the end :-)
        script(type='text/javascript', src='site.js')
