
// imports ----

@import url('http://meyerweb.com/eric/tools/css/reset/reset.css')
// @import url('http://basehold.it/48')

@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro:200,500,900')
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,900')
@import url('http://fonts.googleapis.com/css?family=Brawler')

// pallette ----

color-highlight = #A0D897
color-light     = #F09E30
color-medium    = #D03621
color-dark      = #7E0924
color-darkest   = #370128

color-bg        = #EEEEED
color-shadow    = silver
color-text      = #333333
color-demote    = silver

// font vars ----

golden-ratio    = 1.61803

line-height     = 2em
font-base       = 24px

font-large    = 2.0em
font-medium     = 1.0em

font-fixed      = "Source Code Pro", Menlo, Consolas, Lucida Console, Courier
font-sans       = "Source Sans Pro", sans-serif
font-serif      = Brawler

// globals ----

*, html, body
  font-size font-base
  font-family font-serif
  font-weight lighter
  color color-text
  padding 0
  margin 0

html, body
  font-size font-base
  line-height line-height
  background-color color-bg
  background-image url('splat.png')
  background-attachment fixed
  background-repeat no-repeat
  background-position center

// typo ----

h1, h2, h3
  font-family font-fixed
  font-weight normal
  font-size font-large
  color color-dark
  text-transform uppercase
  text-shadow 0.00em 0.05em color-shadow
  margin-top 1em
  margin-bottom 1em
  a
    color color-dark

h1
  margin-top 4em
h2
  margin-top 4em
h3
  color color-darker

p
  margin-bottom 2em
p.highlight
  font-family font-sans
  font-size font-large
  margin-bottom (1 / font-large) * 2em
  margin-top (1 / font-large) * 2em
  line-height (1 / font-large) * 3em
  font-weight lighter
  color color-text + #111111
  letter-spacing 1px

p.subtle, p strike
  color color-demote
p strong, p em
  font-weight normal
  font-style normal

li
  font-size font-medium
  margin-bottom (1 / font-medium) * 2em
ol li
  list-style-type upper-roman
ul li
  list-style-type circle

a
  text-decoration none


// fragments

a:hover, a:link, a:visited
  color color-light

code
  font-family font-fixed
  font-weight bold
  font-variant small-caps
  text-transform uppercase

.money
  font-family font-fixed
  font-weight normal
  color green

acronym, abbr
  border-bottom dotted color-demote

// layouts ----

.container
  margin 0 auto
  width 800px

.area
  display block
.area-top
  @extend .area
  margin-top 4em
.area-middle
  @extend .area
.area-bottom
  @extend .area
  margin-bottom 4em

